* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  color: white;
}

body {
  background-color: #1a1a1a;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(144, 144, 144);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  border: 2px solid #e8e8e8;
}

.header {
  border: solid 1px #747474;
  background-color: rgb(47 47 47);
  display: flex;
  width: 790px;
  justify-self: center;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
}

.header-item {
  flex: 1;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.header .img {
  background-color: #1bc846;
  border: none;
  padding: 2px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin: 5px 5px;
  width: 42px;
  height: 42px;
  border: solid 3px #159e37;
  transition: transform 0.3s, background-color 0.3s, border 0.1s;
}

.img:hover {
  background-color: #00d334;
  border: solid 3px #1dbe00;
  transform: scale(1.1);
}

.img:disabled {
  background-color: #535353;
  cursor: not-allowed;
  transform: none;
}